<!DOCTYPE html>
<html lang="en">
<head>
  <title>CUNY DATA 602 Final Project</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="row container-fluid">
	<div class="row navbar navbar-default">
		<div class="col-sm-11">
			<div class="navbar-header navbar-left">
				<a class="navbar-brand" href="#">CUNY&nbsp;DATA-602&nbsp;SOCCER&nbsp;GAME&nbsp;OUTCOME&nbsp;PREDICTION</a>
			</div>
			<div class="navbar-header navbar-right">
					<ul class="nav navbar-nav">
						<li {{ home }}><a href="{{ url_for('home') }}">Home</a></li>
                         <li {{ team }}><a href="#">Team</a></li>
						<li {{ player }}><a href="#">Player</a></li>
					</ul>
			</div>
            <input type="hidden" name="league" value='{{ league }}'>
            <input type="hidden" name="season" value='{{ season }}'>
            <input type="hidden" name="teamid" value='{{ teamid }}'>
		</div>
	</div>
</div>
<div class="row">
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-4">
			<div class="row" align="center">
				<div class="col-sm-1">
			
				</div>
				<div class="col-sm-10">
					<div id="scoped-content">
						<style>
							.table-wrapper-2 {
							display: block;
							max-height: 690px;
							overflow-y: auto;
							-ms-overflow-style: -ms-autohiding-scrollbar;
							}
						</style>
						<h4><small>Team - {{ teamName }} - Season - {{ season }}</small></h4>
						<div class="table-wrapper-2">
							<table class="table table-striped table-bordered table-sm">
								<thead>
									<tr>
										<th>Name</th>
										<th>Birth Day</th>
										<th>Height(cm)</th>
										<th>Weight(lbs)</th>
									</tr>
								</thead>
								<tbody>
									{% for key,team in teamDetails.iterrows() -%}
											<tr>
												<td><a href="{{ url_for('player', playerId=team['playerID'], league=league, season=season, teamid=teamid ) }}">{{ team['Name'] }}</a></td>
												<td>{{ team['Birth Day'] }}</td>
												<td>{{ team['Height'] }}</td>
												<td>{{ team['Weight'] }}</td>
											</tr>
									{%- endfor %}
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<div class="col-sm-1">
				
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="row">
				<div class="col-sm-12">
					<div id="scoped-content">
						<style>
							.table-wrapper-3 {
								display: block;
								max-height: 250px;
								overflow-y: auto;
								-ms-overflow-style: -ms-autohiding-scrollbar;
							}
						</style>
						<ul class="nav nav-tabs">
							<li class="active"><a data-toggle="tab" href="#gwin">Games</a></li>
							<li class="dropdown">
								<a class="dropdown-toggle" data-toggle="dropdown" href="#">Team
								<span class="caret"></span></a>
								<ul class="nav dropdown-menu">
									<li><a href="#ggoals" data-toggle="tab">Overall Goals</a></li>
            							<li><a data-toggle="tab" href="#gfoulcommit">Overall Fouls</a></li>
                						<li class="divider"></li>
                						<li class="dropdown-header" align="center">Overall Shots</li>
                						<li class="divider"></li>
									<li><a href="#gshoton" data-toggle="tab">On Goal</a></li>
									<li><a href="#gshotoff" data-toggle="tab">Off Goal</a></li>
                						<li class="divider"></li>
                						<li class="dropdown-header" align="center">Influencers - Top 5</li>
                						<li class="divider"></li>
									<li><a href="#gtop5goals" data-toggle="tab">Goals</a></li>
									<li><a href="#gtop5shots" data-toggle="tab">Shots</a></li>
									<li><a href="#gtop5fouls" data-toggle="tab">Fouls</a></li>
									<li><a href="#gtop5cards" data-toggle="tab">Cards</a></li>
								</ul>
							</li>
							<li><a data-toggle="tab" href="#gcorr">Correlation</a></li>						
							<li><a data-toggle="tab" href="#tstats">Stats</a></li>
							<li><a data-toggle="tab" href="#trating">Rating</a></li>
							<li><a data-toggle="tab" href="#tclass">Class</a></li>
						</ul>
						<div class="tab-content">
							<div id="gwin" class="tab-pane fade in active">
								<div class="row" align="center">
									<h4><small>Game Outcome</small></h4>
									<div class="table-wrapper-3">
										{% for table in gameoutcome %}
										{{ table|safe }}
										{% endfor %}
									</div>
								</div>
								<div class="row">
									<img id=img5 style="width:100%" src="{{ url_for('graph_display7',league=league, season=season, teamid=teamid) }}"/>
								</div>
							</div>
							<div id="ggoals" class="tab-pane fade">
								<div class="row" align="center">
									<h4><small>Games Played</small></h4>
									<div class="table-wrapper-3">
										{% for table in gameoutcome %}
										{{ table|safe }}
										{% endfor %}
									</div>
								</div>
								<div class="row" align="left">
									<img id=img1 style="width:100%" src="{{ url_for('graph_display3',league=league, season=season, teamid=teamid) }}"/>
								</div>
							</div>
							<div id="gshoton" class="tab-pane fade">
								<div class="row"  align="center">
									<h4><small>Shots On Goal</small></h4>
									<div class="table-wrapper-3">
										{% for table in shoton %}
										{{ table|safe }}
										{% endfor %}
									</div>
								</div>
								<div class="row">
									<img id=img2 style="width:100%" src="{{ url_for('graph_display4',league=league, season=season, teamid=teamid) }}"/>
								</div>
							</div>
							<div id="gshotoff" class="tab-pane fade">
								<div class="row" align="center">
									<h4><small>Shots Off Goal</small></h4>
									<div class="table-wrapper-3">
										{% for table in shotoff %}
										{{ table|safe }}
										{% endfor %}
									</div>
								</div>
								<div class="row">
									<img id=img3 style="width:100%" src="{{ url_for('graph_display5',league=league, season=season, teamid=teamid) }}"/>
								</div>
							</div>
							<div id="gfoulcommit" class="tab-pane fade">
								<div class="row" align="center">
									<h4><small>Fouls Commited</small></h4>
									<div class="table-wrapper-3">
										{% for table in foulcommit %}
										{{ table|safe }}
										{% endfor %}
									</div>
								</div>
								<div class="row">
									<img id=img4 style="width:100%" src="{{ url_for('graph_display6',league=league, season=season, teamid=teamid) }}"/>
								</div>
							</div>
							<div id="gcorr" class="tab-pane fade">
								<div class="row" align="center">
									<h4><small>Team Attributes Vs. Performance</small></h4>
									<div class="table-wrapper-3">
										{% for table in corrDf %}
										{{ table|safe }}
										{% endfor %}
									</div>
								</div>
								<div class="row">
									<img id=img6 style="width:100%" src="{{ url_for('graph_display8',league=league, season=season, teamid=teamid) }}"/>
								</div>
							</div>

							<div id="gtop5goals" class="tab-pane fade">
								<div class="row" align="center">
									<h4><small>Scorers - Top 5</small></h4>
									<div class="table-wrapper-3">
										{% for table in top5g %}
										{{ table|safe }}
										{% endfor %}
									</div>
								</div>
								<div class="row">
									<img id=img7 style="width:80%" src="{{ url_for('graph_display9',league=league, season=season, teamid=teamid, top5='Goals') }}"/>
								</div>
							</div>

							<div id="gtop5shots" class="tab-pane fade">
								<div class="row" align="center">
									<h4><small>Shots On Goal - Top 5</small></h4>
									<div class="table-wrapper-3">
										{% for table in top5s %}
										{{ table|safe }}
										{% endfor %}
									</div>
								</div>
								<div class="row">
									<img id=img8 style="width:80%" src="{{ url_for('graph_display9',league=league, season=season, teamid=teamid, top5='Shots') }}"/>
								</div>
							</div>
							
							<div id="gtop5fouls" class="tab-pane fade">
								<div class="row" align="center">
									<h4><small>Fouls - Top 5</small></h4>
									<div class="table-wrapper-3">
										{% for table in top5f %}
										{{ table|safe }}
										{% endfor %}
									</div>
								</div>
								<div class="row">
									<img id=img9 style="width:80%" src="{{ url_for('graph_display9',league=league, season=season, teamid=teamid, top5='Fouls') }}"/>
								</div>
							</div>
							<div id="gtop5cards" class="tab-pane fade">
								<div class="row" align="center">
									<h4><small>Cards - Top 5</small></h4>
									<div class="table-wrapper-3">
										{% for table in top5c %}
										{{ table|safe }}
										{% endfor %}
									</div>
								</div>
								<div class="row">
									<img id=img10 style="width:80%" src="{{ url_for('graph_display9',league=league, season=season, teamid=teamid, top5='Cards') }}"/>
								</div>
							</div>
							<div id="tstats" class="tab-pane fade">
								<div class="row" align="center">
									<h4><small>Team Stats</small></h4>
									<div class="table-wrapper-3">
										<table class="table table-striped table-bordered table-sm">
											<tbody>
												{% for row in statslist -%}
														<tr>
															<td class="col-sm-3">{{ row[0] }}</td>
															<td class="col-sm-3">{{ row[1] }}</td>
														</tr>
												{%- endfor %}
											</tbody>
										</table>
									</div>
								</div>
							</div>
							<div id="trating" class="tab-pane fade">
								<div class="row" align="center">
									<h4><small>Team Attributes</small></h4>
									<div class="table-wrapper-3">
										<table class="table table-striped table-bordered table-sm">
											<tbody>
												{% for key, row in teamStats1.iterrows() -%}
														<tr>
															<td class="col-sm-3">{{ row['Attribute'] }}</td>
															<td class="col-sm-3">{{ row['Rating'] }}</td>
														</tr>
												{%- endfor %}
											</tbody>
										</table>
									</div>
								</div>
							</div>
							<div id="tclass" class="tab-pane fade">
								<div class="row" align="center">
									<h4><small>Team Attributes</small></h4>
										<table class="table table-striped table-bordered table-sm">
											<tbody>
												{% for key, row in teamStats2.iterrows() -%}
														<tr>
															<td class="col-sm-3">{{ row['Attribute'] }}</td>
															<td class="col-sm-3">{{ row['Class'] }}</td>
														</tr>
												{%- endfor %}
											</tbody>
										</table>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="row" align="center">
                <div class="col-sm-1">
                </div>
				<div class="col-sm-10">
					<div id="scoped-content">
						<style>
							.table-wrapper-5 {
								display: block;
								max-height: 190px;
								overflow-y: auto;
								-ms-overflow-style: -ms-autohiding-scrollbar;
							}
							.scrollable-menu {
								height: auto;
								max-height: 200px;
								overflow-x: hidden;
							}
						</style>
						<ul class="nav nav-tabs">
							<li class="dropdown">
								<a class="dropdown-toggle" data-toggle="dropdown" href="#">Opponent
								<span class="caret"></span></a>
								<ul class="nav dropdown-menu scrollable-menu" role="menu">
									{% for key, rowteams in teamsDf.iterrows() -%}
										<li><a href="#pred{{ rowteams['teamsID'] }}" data-toggle="tab">{{ rowteams['teamsID'] }}</a></li>
									{%- endfor %}
								</ul>
							</li>
						</ul>
						<div class="tab-content">
						{% for key, team in teamsDf.iterrows() -%}
						{% if loop.index == 1 -%}
							<div id="pred{{ team['teamsID'] }}" class="tab-pane fade in active">
								<div class="tab-content">
									<div id="pred{{ team['teamsID'] }}hg" class="tab-pane fade in active">
										<div class="row" align="center">
											<h4><small>Prediction - Home Game</small></h4>
											<table class="table table-striped table-bordered table-sm">
                                        <thead>
                                        <tr style="text-align: right;">
                                          <th></th>
                                          <th>Home</th>
                                          <th>Away</th>
                                        </tr>
                                        </thead>
												<tbody>
												{% for key, row in outcomeHDf.iterrows() -%}
												{% if row['Opponent'] == team['teamsID'] -%}
													<tr>
														<td class="col-sm-4">{{ row['Prediction']|safe }}</td>
														<td class="col-sm-4">{{ row['Home']|safe }}</td>
                                               <td class="col-sm-4">{{ row['Away']|safe }}</td>
													</tr>
												{%- endif %}
												{%- endfor %}
												</tbody>
											</table>
										</div>
										<div class="row" align="center">
											<h4><small>Teams Matchup</small></h4>
											<div class="table-wrapper-5">
												<table class="table table-striped table-bordered table-sm">
													<thead>
														<tr>
															<th>Home</th>
															<th>Away</th>
														</tr>
													</thead>
													<tbody>
													{% for key, row in keyPlayersHDf.iterrows() -%}
													{% if row['Opponent'] == team['teamsID'] -%}
														<tr>
															<td class="col-sm-4"><a href="{{ url_for('player', playerId=row['HomePlayerId'], league=league, season=season, teamid=teamid) }}">{{ row['Home']|safe }}</a></td>
															<td class="col-sm-4"><a href="{{ url_for('player', playerId=row['AwayPlayerId'], league=league, season=season, teamid=teamid) }}">{{ row['Away']|safe }}</a></td>
														</tr>
													{%- endif %}
													{%- endfor %}
													</tbody>
												</table>
											</div>
										</div>
									</div>
									<div id="pred{{ team['teamsID'] }}ag" class="tab-pane fade">
										<div class="row" align="center">
											<h4><small>Prediction - Away Game</small></h4>
											<table class="table table-striped table-bordered table-sm">
                                        <thead>
                                        <tr style="text-align: right;">
                                          <th></th>
                                          <th>Home</th>
                                          <th>Away</th>
                                        </tr>
                                        </thead>
												<tbody>
												{% for key, row in outcomeADf.iterrows() -%}
												{% if row['Opponent'] == team['teamsID'] -%}
													<tr>
														<td class="col-sm-4">{{ row['Prediction']|safe }}</td>
														<td class="col-sm-4">{{ row['Home']|safe }}</td>
                                               <td class="col-sm-4">{{ row['Away']|safe }}</td>
													</tr>
												{%- endif %}
												{%- endfor %}
												</tbody>
											</table>
										</div>
										<div class="row" align="center">
											<h4><small>Teams Matchup</small></h4>
											<div class="table-wrapper-5">
												<table class="table table-striped table-bordered table-sm">
													<thead>
														<tr>
															<th>Home</th>
															<th>Away</th>
														</tr>
													</thead>
													<tbody>
													{% for key, row in keyPlayersADf.iterrows() -%}
													{% if row['Opponent'] == team['teamsID'] -%}
														<tr>
															<td class="col-sm-4"><a href="{{ url_for('player', playerId=row['HomePlayerId'], league=league, season=season, teamid=teamid) }}">{{ row['Home']|safe }}</a></td>
															<td class="col-sm-4"><a href="{{ url_for('player', playerId=row['AwayPlayerId'], league=league, season=season, teamid=teamid) }}">{{ row['Away']|safe }}</a></td>
														</tr>
													{%- endif %}
													{%- endfor %}
													</tbody>
												</table>
											</div>
										</div>
									</div>
								</div>
                                    </br>
								<div id="tab" class="btn-group btn-group-justified" data-toggle="buttons">
									<a href="#pred{{ team['teamsID'] }}hg" class="btn btn-default active" data-toggle="tab"><input type="radio" />Home</a>
									<a href="#pred{{ team['teamsID'] }}ag" class="btn btn-default" data-toggle="tab"><input type="radio" />Away</a>
								</div>
							</div>
						{% else -%}
							<div id="pred{{ team['teamsID'] }}" class="tab-pane fade">
								<div class="tab-content">
									<div id="pred{{ team['teamsID'] }}hg" class="tab-pane fade in active">
										<div class="row" align="center">
											<h4><small>Prediction - Home Game</small></h4>
											<table class="table table-striped table-bordered table-sm">
                                        <thead>
                                        <tr style="text-align: right;">
                                          <th></th>
                                          <th>Home</th>
                                          <th>Away</th>
                                        </tr>
                                        </thead>
												<tbody>
												{% for key, row in outcomeHDf.iterrows() -%}
												{% if row['Opponent'] == team['teamsID'] -%}
													<tr>
														<td class="col-sm-4">{{ row['Prediction']|safe }}</td>
														<td class="col-sm-4">{{ row['Home']|safe }}</td>
                                               <td class="col-sm-4">{{ row['Away']|safe }}</td>
													</tr>
												{%- endif %}
												{%- endfor %}
												</tbody>
											</table>
										</div>
										
										<div class="row" align="center">
											<h4><small>Teams Matchup</small></h4>
											<div class="table-wrapper-5">
												<table class="table table-striped table-bordered table-sm">
													<thead>
														<tr>
															<th>Home</th>
															<th>Away</th>
														</tr>
													</thead>
													<tbody>
													{% for key, row in keyPlayersHDf.iterrows() -%}
													{% if row['Opponent'] == team['teamsID'] -%}
														<tr>
															<td class="col-sm-4"><a href="{{ url_for('player', playerId=row['HomePlayerId'], league=league, season=season, teamid=teamid) }}">{{ row['Home']|safe }}</a></td>
															<td class="col-sm-4"><a href="{{ url_for('player', playerId=row['AwayPlayerId'], league=league, season=season, teamid=teamid) }}">{{ row['Away']|safe }}</a></td>
														</tr>
													{%- endif %}
													{%- endfor %}
													</tbody>
												</table>
											</div>
										</div>
									</div>
									<div id="pred{{ team['teamsID'] }}ag" class="tab-pane fade">
										<div class="row" align="center">
											<h4><small>Prediction - Away Game</small></h4>
											<table class="table table-striped table-bordered table-sm">
                                        <thead>
                                        <tr style="text-align: right;">
                                          <th></th>
                                          <th>Home</th>
                                          <th>Away</th>
                                        </tr>
												<tbody>
												{% for key, row in outcomeADf.iterrows() -%}
												{% if row['Opponent'] == team['teamsID'] -%}
													<tr>
														<td class="col-sm-4">{{ row['Prediction']|safe }}</td>
														<td class="col-sm-4">{{ row['Home']|safe }}</td>
                                               <td class="col-sm-4">{{ row['Away']|safe }}</td>
													</tr>
												{%- endif %}
												{%- endfor %}
												</tbody>
											</table>
										</div>
										
										<div class="row" align="center">
											<h4><small>Teams Matchup</small></h4>
											<div class="table-wrapper-5">
												<table class="table table-striped table-bordered table-sm">
													<thead>
														<tr>
															<th>Home</th>
															<th>Away</th>
														</tr>
													</thead>
													<tbody>
													{% for key, row in keyPlayersADf.iterrows() -%}
													{% if row['Opponent'] == team['teamsID'] -%}
														<tr>
															<td class="col-sm-4"><a href="{{ url_for('player', playerId=row['HomePlayerId'], league=league, season=season, teamid=teamid) }}">{{ row['Home']|safe }}</a></td>
															<td class="col-sm-4"><a href="{{ url_for('player', playerId=row['AwayPlayerId'], league=league, season=season, teamid=teamid) }}">{{ row['Away']|safe }}</a></td>
														</tr>
													{%- endif %}
													{%- endfor %}
													</tbody>
												</table>
											</div>
										</div>
									</div>
								</div>
                                    </br>
								<div id="tab" class="btn-group btn-group-justified" data-toggle="buttons">
									<a href="#pred{{ team['teamsID'] }}hg" class="btn btn-default active" data-toggle="tab"><input type="radio" />Home</a>
									<a href="#pred{{ team['teamsID'] }}ag" class="btn btn-default" data-toggle="tab"><input type="radio" />Away</a>
								</div>
							</div>
						{%- endif %}
						{%- endfor %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
</body>
</html>